*.sublime-project
*.sublime-workspace
.DS_Store
.env
.env.dusk.*
.php_cs.cache
.phpstorm.meta.php
.project
/.idea
/.vagrant
/.vscode
/coverage
/nbproject
/node_modules
/public/hot
/public/images
/public/storage
/public/videos
/storage/*.key
/vendor
_ide_helper.php
composer.lock
composer.phar
coverage.xml
error.log
Homestead.json
Homestead.yaml
npm-debug.log
output.txt
package-lock.json
Thumbs.db
yarn.lock

